
.topbar-btn {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .topbar-btn:hover {
    background-color: black;
  }
  .topbar
  {
    position: sticky; top: 0; width: 100%; background-color:orangered; color: white; z-index: 1000;
  }
  .list
  {
    display: flex; justify-content: flex-end; list-style: none; padding: 10px;
  }