
<div class="top-bar" style="position: sticky; top: 0; width: 100%; background-color:orangered; color: white; z-index: 1000;">
    <div class="top">
      <img src="">
      <ul style="display: flex; justify-content: flex-end; list-style: none; padding: 10px;">
        <li> <a routerLink="/cart" class="topbar-btn">Cart</a></li>
       <li> <a routerLink="/favourites" class="topbar-btn">Favorites</a></li>

        <li><button class="topbar-btn">Partner With Us</button></li>
        <li><button class="topbar-btn">Get the App</button></li>

        
      </ul>
    </div>
  </div>
  