
.topbar-btn {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .topbar-btn:hover {
    background-color: black;
  }
  