

<a [routerLink]="['restaurant',restaurant.res_id]">
  <div class="restaurant-card">
<img [src]="restaurant.image" alt="Image Unavailable" class="res_image"/>
   <div class="imageText">
    <h3 style="margin-left:10px; font-size: 1.4rem;">{{ restaurant.name }}</h3>
      <p style="margin-right:10px;"><i class="fa-solid fa-star" style="color: white;font-size: 0.8rem;"></i>{{restaurant.rating}}</p>
   </div>
      <div class="res_details">
    <p>{{ restaurant.cuisine }}</p>
    <p>{{restaurant.location}}</p>
    </div>
    
  </div>
</a>
