.menu-item {
    display: flex;
    justify-content: space-between;
}
.menu-container {
    width: 70%;
    margin: auto;
    padding: 10px;
}
.cart-button-container {
    display: flex;
    align-items: center;
}
.cart-button-container button {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: large;
    border-radius: 30%;
    border: none;
    box-shadow: 1px 1px 5px 3px rgb(231, 231, 231);
}
.favorites-button-container button {
    background-color: rgb(211, 94, 17);
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: large;
    border-radius: 30%;
    border: none;
    box-shadow: 1px 1px 5px 3px rgb(231, 231, 231);
}
.item-description {
    width: 60%;
}
.item-description i {
    font-size: 0.8rem;
    margin-right: 3px;
}
.item-name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}
.item-description-text {
    color: rgb(109, 109, 109);
    margin-top: 10px;
}
.restaurant-name {
    font-size: 3rem;
    font-weight: bold;
    width: 70%;
    margin: auto;
}
.restaurant-info {
    border: 1px solid rgb(161, 161, 161);
    padding: 20px;
    width: 40%;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: white;
}
.restaurant-info button {
    border: none;
    background-color: white;
    color: orangered;
    font-weight: bold;
    font-size: medium;
}
.restaurant-info hr {
    margin-top: 10px;
    margin-bottom: 5px;
}
.restaurant-info p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.restaurant-info .buttons {
    display: flex;
    justify-content: space-around;
}
.restaurant-image {
    width: 100%;
    border-radius: 20px;
    height: 300px;
}
.restaurant-details {
    height: 300px;
    width: 70%;
    position: relative;
    margin: auto;
}
.menu-item {
    margin-top: 20px;
    margin-bottom: 20px;
}
