<div class="home" #bg>
    <div class="section1">
        
        <div class="top">
           
            <div>
                <ul>
                    
                   
                    <li *ngIf="!isLoggedIn"><button (click)="showSignIn()" style="background-color: black; border: 1px solid black;">Sign in</button></li>
                    <li *ngIf="isLoggedIn"><button (click)="signOut()" style="background-color: black; border: 1px solid black;">Sign Out</button></li>
                </ul>
            </div>
        </div>


        
    <div style="margin-top: 100px; ">
        <div class="restaurants-head">
            <h2 style="font-size: 2rem ;justify-content: ccenter;">"Craving something delicious? EXPLORE THE NEW CHRISTMAS MENU</h2>
           
        </div>
        <div class="card-container">
            <div class="cards-wrapper" #cardsWrapper>
                <app-restaurant-card *ngFor="let restaurant of restaurants" [restaurant]="restaurant"></app-restaurant-card>
            </div>
        </div>
    </div>

    <app-signin #signin></app-signin>
</div>
